<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemp">
<head>
    <title>Drink Menu</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center mb-3">Drink Menu</h1>
        <p class="text-center mb-5">
            Explore our handcrafted coffee beverages, made to energize and satisfy. Whether you love it hot, iced, creamy, or bold—there’s something here for every coffee lover.
        </p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <!-- Drink Cards -->
            <div th:each="drink : ${drinks}" class="col">
                <div class="card h-100">
                    <img th:if="${drink.imageUrl != null and drink.imageUrl != ''}"
                         th:src="@{${drink.imageUrl}}"
                         class="card-img-top drink-img" alt="Drink">

                    <img th:if="${drink.imageUrl == null or drink.imageUrl == ''}"
                         th:src="@{'/product/image/' + ${drink.id}}"
                         class="card-img-top drink-img" alt="Drink">

                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <div class="card-text-wrapper">
                            <h5 th:text="${drink.name}" class="card-title"></h5>
                            <p th:text="${drink.description}" class="card-text"></p>
                        </div>
                        <a href="#" class="btn btn-primary mt-auto" th:text="'Buy Now'"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>