<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>
    <body>
        <div layout:fragment="content">
            <div align="center">
                <form th:action="@{/doLogin}" th:object="${loginModel}" method="post">
                    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
                        <div class="row g-3 text-center mb-2">
                            <div class="col-12">
                                <input type="text" th:field="*{username}" id="inputPlaceholder" class="form-control w-50 mx-auto" placeholder="Username">
                            </div>
                            <div class="col-12">
                                <span class="form-text">Must be 8-20 characters long.</span>
                            </div>
                        </div>
                        <div class="row g-3 text-center">
                            <div class="col-12">
                                <input type="password" th:field="*{password}" id="inputPlaceholder" class="form-control w-50 mx-auto" placeholder="Password">
                            </div>
                            <div class="col-12">
                                <span class="form-text">Must be 8-20 characters long.</span>
                            </div>
                        </div>
                        <input type="submit" class="buttonLike" value="Login">
                    </div>
                    <div th:if="${#fields.hasErrors('*')}">
                        <div class="errorList">List of Errors</div>
                        <div th:each="err : ${#fields.errors('*')}">
                            <span style="color: red" th:text="${err}" class="fieldError"></span>
                        </div>
                    </div>
                </form>
                <h1 class="line">OR</h1><br/>
                <input class="buttonLike" type="button" value="Register" onclick="window.location.href='/register'">
            </div>
        </div>
    </body>
</html>

