<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/defaultTemp">
<head>
    <title>Sandwich Menu</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<div layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center mb-3">Sandwich Menu</h1>
        <p class="text-center mb-5">
            Discover our selection of handcrafted sandwiches—perfectly toasted, fresh, and stacked with flavor. A bite above the rest!
        </p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <!--Sandwich cards-->
            <div th:each="sandwich : ${sandwiches}" class="col">
                <div class="card h-100">
                    <img th:if="${sandwich.imageUrl != null and sandwich.imageUrl != ''}" 
                         th:src="@{${sandwich.imageUrl}}" 
                         class="card-img-top drink-img" alt="Sandwich">
                    <img th:if="${sandwich.imageUrl == null or sandwich.imageUrl == ''}" 
                         th:src="@{'/product/image/' + ${sandwich.id}}" 
                         class="card-img-top drink-img" alt="Sandwich">
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <div class="card-text-wrapper">
                            <h5 th:text="${sandwich.name}" class="card-title"></h5>
                            <p th:text="${sandwich.description}" class="card-text"></p>
                        </div>
                        <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>