<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div th:replace="layouts/common :: bootstrap">Bootstrap</div>
    </head>
    <body>
        <!--Header Fragment-->
        <div th:replace="layouts/common :: header">My Header</div>
        <!-- Main Body Content -->
        <section layout:fragment="content" style="flex: 1;">
            <p>Default content</p>
        </section>
        <!--Footer Fragment-->
        <div th:replace="layouts/common :: footer">My Footer</div>
    </body>
</html>
