#inputPlaceholder::placeholder
{
    color: black;
}

input
{
    border-radius: 10px;
    border-style: solid;
}

.buttonLike
{
    margin-top: 20px;
    width: 150px;
    border-radius: 15px;
    border-style: solid;
    padding: 6px 20px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:rgb(202, 189, 189);
}

.login
{
    padding-top: 20px;
}

.line
{
    text-align: center;
    position: relative;
    margin: 20px auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.line::before,
.line::after
{
    content: "";
    flex-grow: 0;
    width: 100px;
    height: 2px;
    background-color: gray;
    margin: 0 10px;
}

.line span
{
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}

.errorList
{
    margin-top: 10px;
}

/* Ensures images are same size and nicely cropped */
.img-fixed-size {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/* Makes sure cards stay the same height and button stays at the bottom */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Force the text area above the button to take equal height */
.card-text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drink-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
